.container {
    border: 1px solid black;
    /* width : 600px; */
    height : 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.item {
    padding: 5px 45px;
    margin: 5px;
    text-align: center;
}

.item:hover {
    opacity: 0.9;
    scale: 1.05;
    color: white;
    font-weight: 900;
}

.item1 { background : red; 
    font-size: 16px;
    /* height : 100px; */
    /* align-self: flex-end; */
}
.item2 { background : orange; 
    font-size: 28px;
    /* height : 150px; */
    /* align-self: start; */
}
.item3 { background : yellow; 
    font-size: 40px;
    /* height : 100px; */
    /* align-self: center; */
}
.item4 { background : green; 
    font-size: 22px;
    /* height : 50px; */
    /* align-self: baseline; */
}
.item5 { background : blue; 
    font-size: 60px;
    /* height : 100px; */
    /* align-self: stretch; */
}

.item1
.item2
.item3
.item4
.item5 {
    align-self: baseline;
}